/*Atributos globales*/
*{
    box-sizing: border-box;
    padding:0;
    margin:0;

}
html{
    font-size: 62.5%;
}
/*Header*/
.encabezado-formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 0.1rem solid whitesmoke;
    background-color: steelblue;
    color:whitesmoke;
    border-radius: 0.3rem;
    width: 100%;
    margin:auto;
    margin-bottom: 0.2rem;
}
/*Main*/
.container {
    
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* border: 0.1rem solid black; */
    background-color: steelblue;
    color:whitesmoke;
    width: 100%;
    margin:auto;
    border-radius: 0.3rem;
}

.formulario {


    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 0.2rem solid black; */
    width: 100%;
    padding: 0.5rem 0;

}

.container-cliente{

    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 0.1rem solid whitesmoke;
    border-radius: 0.3rem;
    width: 100%;
    
}
.formulario label {
    font-size: 2rem;
    width: 100%;
    text-align: left;
}

.datos-cliente-leyenda{
    font-size: 1.6rem;
    width: 25%;
}
.input-cliente{
    padding:0.2rem 0;
    width: 100%;
}
/*Formulario de productos*/
.container-producto{
    border: 0.1rem solid whitesmoke;
    display: none;

}

.resultado-producto{

    border: 0.1rem solid whitesmoke;
    background-color:rgb(9, 121, 173);
    

}

.resultado-producto p{

    font-size: 2rem;
    height: 2rem;
}


.errores{
    -webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    display: none;
    font-size: 14px;
    /* margin-top: -50px;
    margin-left: 180px; */
    padding: 10px;
    /* position: absolute; */
}

/*Botones*/
#btnEnviar{
    display:none;
}
#btnCalcular{
    width: 100%;
}